.page-content img {
    max-width: 100%;
}

.page-content-inner h1 {
    display: none;
}

h2 {
    color: #0077b3;
}

#colophon {
    background-color: #007ab9;
    color: #fff;
    padding: 32px 0;
}

.navbar-inverse {
    background-color: #fff;
}

.page-content, .page-content-inner, .mce-content-body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#content .page-header-placeholder {
    background-color: #007ab9;
    color: #fff;
}

table th {
    background-color: #007ab9;
    color: #fff;
}

#left-sidebar {
    padding-left: 20px;
}

#left-sidebar .widget ul li a {
    color: #0089cf !important;
    line-height: 2em;
    font-weight: 400;
    font-family: 'Roboto Condensed',sans-serif;
}

.navbar-inverse .navbar-nav > li > a {
    color: #007ecc;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background: #fff;
    color: #007ecc;
}

#content .page-title h1 {
    background: none repeat scroll 0 0 #007ab9;
    color: #fff;
}

#brandbar {
    height: 95px;
}

#brandbar img {
    height: 7rem;
    max-width: 40%;
    vertical-align: middle;
    display: inline-block;
}

#header {
    vertical-align: middle;
    display: inline-block;
}

#header a, #header a:visited, #header a:hover, #header a:focus {
    color: #000;
    font-size: 40px;
    font-weight: 400;
    text-decoration: none;
}

.breadcrumbs {
    display: none;
}
.page-content a, .page-content a:visited, article a, article a:visited {
    color: #007ecc;
    text-decoration: none;
}

#content .header-image {
    max-height: 250px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

img {
    border: 1px dotted gray;
}