.page-content img {
    max-width: 100%;
}

.page-content-inner h1 {
    display: none;
}

h2 {
    color: #339966;
}

#colophon {
    background-color: #fff;
    color: #999;
    padding: 32px 0;
}

.navbar-inverse {
    background-color: #fff;
}

.page-content, .page-content-inner, .mce-content-body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

